:root {
  background-color: #1f1f1f;
  height: 5000px;
}
.navbar {
  background-color: #1f1f1f;
  border-bottom: 3px solid #1ca7ec;
}
.navbar a {
  color: #fff;
}
.navbar-nav {
  gap: 35px;
}
.jumbotron {
  height: 525px;
  background-size: cover;
  color: #fff;
  padding-top: 40px;
}
.jumbotron h1 {
  color: #1ca7ec;
}
.row {
  padding: 5rem;
}
.about-img {
  box-shadow: -25px -25px 0px #1ca7ec;
}
.about-text h2 {
  border-bottom: 2px solid #1ca7ec; /* Display as inline block */
  width: 10rem;
}
/* tablet */

/* Handphone */
@media (max-width: 800px) {
  .about-text {
    text-align: center;
  }
  .about-text h2 {
    border-bottom: 2px solid #1ca7ec;
    display: inline-block; /* Display as inline block */
  }
}
